# Copy this file to secrets.yaml and fill in your values

wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
api_key: "GenerateWithEsphomeOrUseRandomBase64String"
ota_password: "YourOTAPassword"
ap_password: "FallbackAPPassword"
